a {
    color: #0a0c0c;
    text-decoration: none;
  }
  #home a{
    color: white;
    text-decoration: none;
  }
  #headerbox{
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index:100;
      text-size-adjust:unset;
      background-color:    #00B0F0;
      color: rgb(246, 244, 247);
      width: 100%;
      margin-top: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
      top:0;
      left: 0;
      font-family:Verdana, sans-serif;
      font-size:15PX;
      border-top: 2px solid rgb(13,110,253);
      border-bottom: 2px solid rgb(13,110,253);
  }
  
  main{
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  header{
    display: flex;
    align-items: center;
    justify-content:space-around;
  }
  
  #rec{
    font-size: 2.2vh;
  }
  
  @media (min-width: 700px) {
    #rec {
      font-size: 4vh;
      /* Styles for screens larger than 1200px */
    }
  }
  #auto{
    font-size: 2vh;
  }
  
    #i1,#i2{
      height: 10vh;
      margin-top: 1vh;
      margin-right: 1vh;
      margin-left: 1vh;
      margin-bottom: 1vh;
    }
  
    @media (max-width: 450px) {
      #i2 {
        display: none;
      }
    }
    
    nav{
      background-color:   #00B0F0;
      padding-top: 4px;
      padding-bottom: 4px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 10PX;
      border-top: 2px solid rgb(13,110,253);
      border-bottom: 2px solid rgb(13,110,253);
    }
    
    nav #hom{
      border-radius: 5px;
      font-size:15px;
      color: white;
      background-color: rgb(13,110,253);
      border-color:orange;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 10px;
      padding-left: 10px;
    }
  
    nav .home1{
      border-radius: 5px;
      font-size:15px;
      color: white;
      background-color: rgb(13,110,253);
      border-color:rgb(8, 62, 239);
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 10px;
      padding-left: 10px;
    }
  
    @media (max-width: 450px) {
      nav .home1{
        font-size: 10px;
      }
    }
    @media (max-width: 350px) {
      nav .home1{
        font-size: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
            }
    }
    nav .home1:hover{
      background-color: rgb(37, 34, 216);
      color: white;
      text-decoration: none;
    }

    .container {
      max-width: auto;
      margin: 50px auto;
      padding: 20px 40px;
      background-color: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1, h2, h3, label {
      color: #2c3e50;
  }

  h1 {
      border-bottom: 2px solid #3498db;
      padding-bottom: 10px;
      margin-bottom: 20px;
  }

  p, input, textarea {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      box-sizing: border-box;
  }

  input, textarea {
      border: 1px solid #bdc3c7;
  }

  input[type="submit"] {
      background-color: #3498db;
      border: none;
      color: white;
      cursor: pointer;
      padding: 15px 20px;
      margin-top: 20px;
  }

  input[type="submit"]:hover {
      background-color: #2980b9;
  }

  a {
      color: #3498db;
      text-decoration: none;
  }

  a:hover {
      text-decoration: underline;
  }

  .home2{
    background-color: #00B0F0;
    width:100%;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
  }

  .home2:hover{
    opacity:80%;
    color: aliceblue;
    border-bottom:2px solid #0a0c0c;
  
  }
  #about1{
    border-bottom:2px solid #0a0c0c;
  }

  #iframe{
   width: 500px;
   height: 500px;
  }

  #mapdetail{
    position: relative;
    float: right;
  }